
<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/general :: baseHead(~{::title}, ~{::link})">
<title>Dhcircle | 404 page not found</title>
<!-- placeholder for additional links -->
<link />
</head>

<body class="loading authentication-bg"
	data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>

	<div class="account-pages mt-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="card">
						<!-- Logo -->
						<div class="card-header pt-4 pb-4 text-center bg-primary">
							<a href="index.html"> <span><img
									th:src="@{/assets/images/logo.png}" src="#" alt="" height="18"></span>
							</a>
						</div>

						<div class="card-body p-4">
							<div class="text-center">
								<h1 class="text-error">
									5<i class="mdi mdi-emoticon-sad"></i>0
								</h1>
								<h4 class="text-uppercase text-danger mt-3" th:text="{$error}">Access Denied</h4>
								<p class="text-muted mt-3">It's looking like you may have
									taken a wrong turn. Don't worry... it happens to the best of
									us. Here's a little tip that might help you get back on track.</p>

								<a class="btn btn-info mt-3" th:href="@{/logout}" href=""><i
									class="mdi mdi-reply"></i> Return Login</a>
							</div>
						</div>
						<!-- end card-body-->
					</div>
					<!-- end card -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end page -->

	<!-- Footer Start -->
	<footer class="footer footer-alt"> 2020 © dhCircle - dhCircle.com</footer>
	<!-- end Footer -->

	<!-- bundle -->
	<div th:replace="fragment/general :: scriptLibraries(~{::script})">
		<script></script>
	</div>

</body>
</html>
